
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/static/newMain.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <div class="container">
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar">
                    <a class="navbar-item" href="{{ url_for("main") }}">
                        Home
                    </a>
                    <a class="navbar-item" href="{{ url_for("handle_page", PageName="GraduateSchool") }}">
                        Graduate School
                    </a>
                    <a class="navbar-item" href="{{ url_for("handle_page", PageName="DoubleMajor") }}">
                        Double Major
                    </a>
                    <a class="navbar-item" href="{{ url_for("handle_page", PageName="SwitchingMajors") }}">
                        Switching Majors
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <section class="hero is-info is-small is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="https://iconape.com/wp-content/png_logo_vector/uprm-logo.png" width="150" height="40">
                <h1 class="title">
                    UPRM WIKI
                </h1>
                <h1 class="subtitle">
                    Before, Now and Forever, Colegio!
                </h1>
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START WIKI -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{ page_name }}</p>
                            </div>
                        </div>
                        <div class="content article-body">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
