{% extends "base.html" %}
{% block content %}
    {% for dict_item in parent_list %}
        <h1>Edit #{{loop.index}}</h1>
    {% for key, value in dict_item.items() %}
        <p>{{key}}: {{value}}</p>
    {% endfor %}
    {% endfor %}
    <br>
    <button class="button">
        {{view_link | safe}}
    </button>
    <button class="button">
        {{edit_link | safe}}
    </button>
{% endblock %}
